@page "/"
@inject HttpClient httpClient
@using Pokedex.BlazorWASM.Models
@using Newtonsoft.Json

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col mx-auto justify-content-between">
        <form class="form-inline" @onsubmit="GetPokemonAsync">
            <div class="form-group mb-2">
                <input type="text" @bind-value="@searchText" class="form-control" placeholder="Search Pokemon." />
            </div>
            <button type="submit" class="btn btn-primary mb-2 ml-auto">Find</button>
        </form>
    </div>
</div>

@code {

    public Pokemon Pokemon { get; set; }
    public string searchText;
    public bool IsLoading { get; set; }

    protected async Task GetPokemonAsync()
    {
        IsLoading = true;
        Pokemon = await GetPokemon(searchText);
        IsLoading = false;
    }

    protected async Task ChangePokemonAsync(int i)
    {
        Pokemon = await GetPokemonAsync((Pokemon.Id += i).ToString());
    }

    public async Task<Pokemon> GetPokemon(string name)
    {
        var result = JsonConvert.DeserializeObject<Pokemon>(await httpClient.GetStringAsync($"https://pokeapi.co/api/v2/pokemon/{name}"));

        if (result.Name.Length == 0)
        {
            return null;
        }

        return result;
    }
}